<app-card-component></app-card-component>

<div class="Button flex flex-col items-center gap-5 py-5">
  <input
    class="border-2 px-5 py-2 text-center rounded-lg"
    type="text"
    placeholder="Your text here"
  />
  <input
    class="border-2 px-5 py-2 text-center rounded-lg"
    type="text"
    placeholder="Your text here"
  />
  <input
    class="border-2 px-5 py-2 text-center rounded-lg"
    type="number"
    placeholder="Your text here"
  />
  <button
    class="border-2 px-5 py-2 text-center rounded-lg duration-150 hover:bg-[#ededed]"
    (click)="EnviarDatos()"
  >
    Mostrar
  </button>
</div>
